/* 
 footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerBrandImage{
    height: 12rem;
    margin-top: -46px;
    margin-bottom: -45px;
    margin-left: -50px;
    width: auto;
}

footer .footCol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

footer h4{
    font-size: 1.5rem;
    
}

footer p{
    font-size: 1.1rem;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(8, 8, 51, 0.708);
    margin-bottom: 10px;
}

 .footBrandImage{
    height: 3.5rem;
    width: auto;
 }

 .footerBrandImage{
    height: 12rem;
    margin-top: -46px;
    margin-bottom: -45px;
    margin-left: -50px;
    width: auto;
 }

 .installbrands{
    display: inline-block;
    
 }

.installBrandImage{
    height: 6.5rem;
    width: auto;
}

footer .socialSection{
    margin-top: 20px;
}

footer .socialSection ion-icon{
    color: #464649;
    padding-right: 4px;
    cursor: pointer;
    font-size: 28px;
}

footer .socialSection ion-icon:hover, footer a:hover{
    color: teal;
}

footer .copyright{
    width: 100%;
    text-align: center;
} */